{% set _svgs = {
    "index.adoc": {
      "src": "_img/icon-welcome.svg",
      "alt": "The Welcome icon"
    },
    "quickstart/README.adoc": {
      "src": "_img/icon-quickstart.svg",
      "alt": "The Quickstart icon"
    },
    "repository/README.adoc": {
      "src": "_img/icon-repository.svg",
      "alt": "The Source Control Systems icon"
    },
    "builds/README.adoc": {
      "src": "_img/icon-builds.svg",
      "alt": "The Builds icon"
    },
    "tests/README.adoc": {
      "src": "_img/icon-tests.svg",
      "alt": "The Tests icon"
    },
    "deployments/README.adoc": {
      "src": "_img/icon-deployments.svg",
      "alt": "The Deployments icon"
    },
    "integrations/README.adoc": {
      "src": "_img/icon-integrations.svg",
      "alt": "The Integrations icon"
    },
    "sdk/README.adoc": {
      "src": "_img/icon-sdk.svg",
      "alt": "The SDK icon"
    },
    "testers/README.adoc": {
      "src": "_img/icon-testers.svg",
      "alt": "The Tester's Manual icon"
    },
    "applications/README.adoc": {
      "src": "_img/icon-applications.svg",
      "alt": "The Manage your Applications icon"
    },
    "billing/README.adoc": {
      "src": "_img/icon-billing.svg",
      "alt": "The Billing and Plans icon"
    },
    "troubleshooting/README.adoc": {
      "src": "_img/icon-troubleshooting.svg",
      "alt": "The Troubleshooting icon"
    },
    "https://apidocs.buddybuild.com/": {
      "src": "_img/icon-api.svg",
      "alt": "The API icon"
    }
  }
-%}
{% macro articles(_articles) %}
  {% for article in _articles %}
    <li class="chapter {% if article.path == file.path and not article.anchor %}active{% endif %}" data-level="{{ article.level }}" {% if article.path %}data-path="{{ article.path }}"{% endif %}>
    {% if article.path and getPageByPath(article.path) %}
      <a href="{{ article.path|resolveFile }}{{ article.anchor }}">
      {% if _svgs.hasOwnProperty(article.path) %}
        <img class="svg" src="{{ _svgs[article.path].src | resolveFile }}" alt="{{ _svgs[article.path].alt }}"/>
      {% endif %}
    {% elif article.url %}
      <a target="_blank" href="{{ article.url }}">
      {% if _svgs.hasOwnProperty(article.url) %}
        <img class="svg" src="{{ _svgs[article.url].src | resolveFile }}" alt="{{ _svgs[article.url].alt }}"/>
      {% endif %}
    {% else %}
      <span>
    {% endif %}
    {% if article.level != "0" and config.pluginsConfig['theme-default'].showLevel %}
      <b>{{ article.level }}.</b>
    {% endif %}
    {{ article.title }}
    {% if article.path  or article.url %}
      </a>
    {% else %}
      </span>
    {% endif %}

    {% if article.articles.length > 0 %}
      <ul class="articles">
        {{ articles(article.articles, file, config) }}
      </ul>
    {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

<ul class="summary">
    {% set _divider = false %}
    {% if config.links.sidebar  %}
    {% for linkTitle, link in config.links.sidebar  %}
        {% set _divider = true %}
        <li>
            <a href="{{ link }}" target="_blank" class="custom-link">{{ linkTitle }}</a>
        </li>
    {% endfor %}
    {% endif %}

    {% if _divider %}
    <li class="divider"></li>
    {% endif %}

    {% for part in summary.parts %}
        {% if part.title %}
        <li class="header">{{ part.title }}</li>
        {% elif not loop.first %}
        <li class="divider"></li>
        {% endif %}
        {{ articles(part.articles, file, config) }}
    {% endfor %}
</ul>
